/.vscode
/01.c++
/01.exe
/BinarySearch.exe
/findTotalNumOfOccurance.exe
/firstAndLasfOccurrence.exe
/firstAndLasfOccurtence.exe
/linearSearch.exe
/peekElement.exe
/pivotElementInArray.exe
/searchInRotatedArray.exe